[mysql]

# CLIENT #
port                           = 3306
socket                         = /data/mysql/mysql.sock
default-character-set              = utf8

[mysqld]
# mcaffe-mysql-audit
#plugin-load=AUDIT=libaudit_plugin.so
#audit_json_file=ON
#audit_json_file_sync=0
#audit_json_log_file=/usr/local/webserver/mysql/data3306/mysql-audit.json 
#audit_offsets='7904, 7952, 3968, 4488, 72, 2704, 96, 0, 32, 104'
#audit_offsets_by_version=ON
#audit_record_cmds='SELECT,INSERT,UPDATE,DELETE,CREATE,ALTER,INDEX,DROP,GRANT,SUPER,RELOAD,SHUTDOWN,LOCK TABLES,LOCK TABLES,REFERENCES,CREATE USER'
#


# GENERAL #
port=3306
explicit_defaults_for_timestamp = 1
character-set-server=utf8
user                           = mysql
default-storage-engine         = InnoDB
socket                         = /data/mysql/mysql.sock
pid-file                       = /data/mysql/mysql.pid

# MyISAM #
key-buffer-size                = 256M
myisam-recover                 = FORCE,BACKUP
#
read_buffer_size = 1M
read_rnd_buffer_size = 16M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 128M
myisam_repair_threads = 1
myisam_recover


# SAFETY #
max-allowed-packet             = 32M
max-connect-errors             = 1000000
skip-name-resolve
innodb-strict-mode             = 1

# DATA STORAGE #
datadir                        = /data/mysql/data

# BINARY LOGGING #
log-bin                        = /data/mysql/binlog/mysql-bin
binlog_cache_size = 4M
binlog_format = MIXED
expire-logs-days               = 3
sync-binlog                    = 1

# REPLICATION #
#log-slave-updates              = 1
relay-log                      = /data/mysql/relaylog/relay-bin
#slave-net-timeout              = 60
#slave-skip-errors = all
#server-id = 3306
#binlog-ignore-db=mysql,test
#binlog-do-db = passport
#replicate-rewrite-db=hgame->passport
#replicate-do-table=passport.usermethodset


# CACHES AND LIMITS #
tmp_table_size                 = 128M
max_heap_table_size            = 128M
query-cache-type               = 0
query-cache-size               = 0
max-connections                = 500
thread-cache-size              = 500
open-files-limit               = 65535
table-definition-cache         = 4096
table-open-cache               = 10240
back_log = 500

# INNODB #
innodb-flush-method            = O_DIRECT
innodb-log-files-in-group      = 2
innodb-log-file-size           = 128M
innodb-flush-log-at-trx-commit = 1
innodb-file-per-table          = 1
innodb-buffer-pool-size        = 256M
innodb_file_format=barracuda
innodb_write_io_threads =12
innodb_read_io_threads =12
innodb_thread_concurrency = 64
innodb_thread_sleep_delay=10
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120
innodb_rollback_on_timeout=1
innodb_open_files=2000
innodb_concurrency_tickets=2000
delayed_queue_size=2000
max_delayed_threads=200
innodb_io_capacity=4000

wait_timeout = 72000
interactive_timeout = 72000

# LOGGING #
log-error                      = /data/mysql/log/mysql-error.log
#log-queries-not-using-indexes  = 1
slow-query-log                 = 1
slow-query-log-file            = /data/mysql/log/mysql-slow.log

